.ofn-learnable {
  position: relative;
  width: 364px;
  margin: 1px;
  background-repeat: no-repeat;
  background-size: cover;
}

.ofn-learnable a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.ofn-learnable .title {
  width: 100%;
  padding: 1em 15px 0 15px;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #fff;
}

.ofn-learnable .category {
  position: absolute;
  bottom: 0px;
  width: 100%;

  padding: 0 15px;

  background-color: #777;
  color: #000;
}

.ofn-learnable .category-resource {
  background-color: #6fc6eb;
}
.ofn-learnable .category-model {
  background-color: #e66792;
}
.ofn-learnable .category-story {
  background-color: #b3d97f;
}
